/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */
$base-font-family:  sans-serif!default;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     #ccc!default;


/*
* Breakpoints Values~
*/
$lap-start:         46em!default;
$desk-start:        60em!default;
$desk-wide-start: 	71.25em!default;

/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        "Helvetica Neue", sans-serif!default;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

/*********************
SOCIAL COLORS - http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
*********************/
$twitter:			#00aced;
$facebook: 			#3b5998;
$linkedin:			#007bb6;
$google:			#dd4b39;
$youtube:			#bb0000;
$pinterest: 		#cb2027;
$tumblr:			#32506d;
$flickr:			#ff0084;
$instagram:			#517fa4;
$vimeo:				#aad450;
$foursquare: 		#0072b1;


// Global Palettes
// ------------------
$black				: #000 !default;
$blackLight			: #222 !default;
$blackLighter		: #555 !default;
$grayDarker			: #999 !default;
$grayDark			: #aaa !default;
$gray				: #ccc !default;
$grayLight			: #ddd !default;
$grayLighter		: #eee !default;
$white				: #fff !default;
$whiteDark			: #F9F6DE !default;
$whiteDarker		: #f0f0f0 !default;

// Layout Palettes
// -------------------------
$backgroundColor	: $white !default;
$borderColor		: $grayLighter !default;
$fontColor			: $blackLighter !default;
$altColor			: $gray !default;

// Link Palettes
// -------------------------
$linkColor			: #00baff !default;
$linkHover			: darken($linkColor, 5%) !default;
$linkVisited		: darken($linkHover, 5%) !default;

$linkFocus			: $linkHover !default;
$linkActive			: lighten(adjust-hue($linkColor, 75deg), 10%) !default;





// ================================================================================
// Font Stack
// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
// https://github.com/lloydk/font-stack
// ================================================================================

// Serif font-stacks
// -------------------------

$georgia			: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif !default;
$georgia-heading	: Georgia, Times, "Times New Roman", serif !default;
$garamond			: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$lucida-bright		: "Lucida Bright", Georgia, serif !default;
$palatino			: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$big-caslon			: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !default;
$didot				: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$baskerville		: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$hoefler-text		: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !default;
$bodoni-mt			: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$goudy-old-style	: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;
$constantia			: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$cambria			: Cambria, Georgia, serif !default;
$book-antiqua		: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$times				: Times, "Times New Roman", Georgia, serif !default;

// Sans-Serif font-stacks
// -------------------------

$arial				: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$optima				: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
$futura				: Futura, "Trebuchet MS", Arial, sans-serif !default;
$gill-sans			: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !default;
$trebuchet			: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;
$helvetica			: "Helvetica Neue", Arial, Helvetica, sans-serif !default;
$verdana			: Verdana, Geneva, sans-serif !default;
$lucida-grande		: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
$geneva				: Geneva, Tahoma, Verdana, sans-serif !default;
$segoe				: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$candara			: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$calibri			: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$franklin-gothic	: "Franklin Gothic Medium", Arial, sans-serif !default;
$tahoma				: Tahoma, Geneva, Verdana, sans-serif !default;

// Monospace font-stacks
// -------------------------

$monospace			: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
$monospace-simple	: "andale mono", "lucida console", monospace !default;
$consolas			: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

// Cursive font-stacks
// -------------------------
$cursive			: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive !default;

